[Desktop Entry]
Encoding=UTF-8
Name=Airin
Comment=Airin P2P Cryptocurrency
Comment[fr]=Airin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Airin, eşten eşe kriptografik sanal para birimi
Exec=airin-qt %u
Terminal=false
Type=Application
Icon=airin128
MimeType=x-scheme-handler/airin;
Categories=Office;Finance;
